# Виртуальное окружение
.venv/
venv/

# База данных
*.sqlite3
db.sqlite3

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Питон
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/

# IDE
.idea/
.vscode/

# Статика Django (если не в репозитории)
/static/
/media/

# Логи
*.log